.logout {
    margin: 50px 50px 50px 50px;
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
}
.grid{  
    display: grid;
    grid-template-areas: 
                         "big       small       small2      "
                         "big       main       main2      "
                         "small3       small4       small5      "
    ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vw 15vw 10vw;
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    margin-top:110px
}
.grid-small{
    grid-area: small;
}
.grid-small2{
    grid-area: small2;
}
.grid-small3{
    grid-area: small3;
}
.grid-small4{
    grid-area: small4;
}
.grid-small5{
    grid-area: small5;
}
.grid-normal{
    grid-area: main;
}
.grid-normal2{
    grid-area: main2;
}
.grid-big{
    grid-area: big;
}
.Container{
    height: 89%;
    background-color: white;
    border-radius: 20px;
}
.Container2{
    height: 93%;
    background-color: white;
    border-radius: 20px;
}
.ContainerTitle{
    color: white;
    font-size: 18px;
    margin-left: 10px;
    padding: 0px;
    margin: 5px 0px 10px 5px;
}
p{
    margin:0px
}
.row{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding-top: 10px;
}
.input {
    background-color: #D9D9D9;
    padding: 5px 0px 5px 5px;
    width: 150px;
}
.button {
    background-color: #6360FF;
    padding: 7px 0px 7px 7px;
    width: 155px;
    color: white;
    margin-left: 10px;
    border: none;
}
.marginInput{
    margin-right: 10px;
}


li a {text-decoration : none; color : white;}


nav {
  width : 95%; 
  background: #2892C0;
  border-radius: 10px; 
}

span {
    padding: 0px 15px 0px 15px;
  background : #2892C0; 
  color : white;
  font-size : 1.2em;
  cursor : pointer;
  display: block;
}

span::after {
  float: right;
  right: 10%;
  content: "+";
}

.slide {
  clear:both;
  width:100%;
  height:0px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
}

.slide li {padding : 5px;}

#touch {position: absolute; opacity: 0; height: 0px;}    

#touch:checked + .slide {height: 100px;} 